{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

<div class="content">

    <h2>Expenses Tracker</h2>
    <p class="text-start fs-5">Track spending, filter by date/category, and visualize instantly.</p>

    <div class="row">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Category</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form method="POST" action="{% url 'search_expenses' %}">


                            {% csrf_token %}
                            <td><input type="date" id="start_date" name="start_date"
                                    value="{{request.POST.start_date}}">
                            </td>

                            <td>

                                <input type="date" id="end_date" name="end_date" value="{{ request.POST.end_date }}">
                            </td>
                            <td><select name="category">
                                    <option value="">All</option>
                                    {% for category in cat_choices %}
                                    <option value="{{ category.value }}" {% if category.selected %}selected{% endif %}>
                                        {{ category.label }}</option>

                                    {% endfor %}
                                </select>
                            </td>
                            <td> <button type="submit" class="btn btn-dark ">Apply
                                    Filters</button>
                            </td>
                            <td>
                            </td>
                        </form>
                    </tr>
                    {% if messages %}
                    <tr>
                        <td colspan="5">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}

                    {% if expenses_filtered %}
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                    {% for expense in expenses_filtered %}
                    <tr>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.category }}</td>
                        <td>${{ expense.amount|floatformat:2 }}</td>
                        <td> </td>
                    </tr>
                    {% endfor %}

                    <!-- Empty row for spacing -->
                    <tr>
                        <td colspan="5"> </td>
                    </tr>
                    <!-- Charts -->
                    <div class="row">

                        <tr>

                            <td colspan="3">
                                {% if category_labels and category_data %}
                                <div class="col-md-6">
                                    <h5 class="font-semibold mb-2">Spending By Category</h5>
                                    <canvas id="catChart" height="100"></canvas>

                                    {{ category_labels|json_script:"category_labels" }}
                                    {{ category_data|json_script:"category_data" }}
                                </div>

                                {% endif %}
                            </td>
                            <td colspan="2">
                                {% if daily_labels and daily_data %}

                                <h5 class="font-semibold mb-2">Spending Over Time</h5>
                                <canvas id="dayChart" height="140"></canvas>
                                {{ daily_labels|json_script:"daily_labels" }}
                                {{ daily_data|json_script:"daily_data" }}

                                {% endif %}
                            </td>
                    </div>
                    </tr>




                    <tr>
                        <td colspan="5" class="text-right">

                            <p>Total Expenses: ${{ total_filtered }}</p>

                        </td>
                    </tr>
                    <!-- Export Button visible only if expenses are filtered -->

                    <tr>
                        <td>
                            <a href="{% url 'export_csv' %}?start={{ start_date }}&end={{ end_date }}&category={{ selected_category }}"
                                class="btn btn-dark">
                                Export to CSV
                            </a>
                        </td>
                    </tr>
                    {%else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            No expenses found.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>



</div>
<script>
    const expenseLabels = JSON.parse(
        document.getElementById("category_labels").textContent
    );

    const expenseData = JSON.parse(
        document.getElementById("category_data").textContent
    );

    const dailyLabels = JSON.parse(
        document.getElementById("daily_labels").textContent
    );
    const dailyData = JSON.parse(
        document.getElementById("daily_data").textContent
    );

    const ctx = document.getElementById('catChart').getContext('2d');

    const ctxDaily = document.getElementById('dayChart').getContext('2d');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: expenseLabels,
            datasets: [{
                data: expenseData
            }]
        },
        options: {
            plugin: { legend: { labels: { color: '#cbd5e1' } } }
        }
    });


    new Chart(ctxDaily,
        {
            type: 'bar',
            data: {
                labels: dailyLabels,
                datasets: [{
                    label: "Total Spending",
                    data: dailyData
                }]
            },
            options: {
                scales: {
                    x: { ticks: { color: '#cbd5e1' }, grid: { color: '#334155' } },
                    y: { ticks: { color: '#cbd5e1' }, grid: { color: '#334155' } }
                },
                plugins: {
                    legend: { labels: { color: '#334155' } }
                }
            }
        });



</script>


{% endblock %}