{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="container mt-5">

    <form method="POST" action="." class="col-6 mx-auto card p-3 shadow-lg">
      <h3>Forgot Password</h3>
      <hr>

      <!-- Display error/success messages -->
      {% if messages %}
      <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-group">
        <fieldset class="form-group">

          {% csrf_token %}

          {{ form.as_p }}
        </fieldset>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
      <br />
    </form>


  </div>
</body>

</html>